/*********************
       GENERAL
*********************/

.m-locallayers-container {
    /*min-width: 200px;*/
    color: #404040;
    width: 100%;
}

.m-locallayers-container .dnone {
    display: none;
}


/*********************
      LOCALLAYERS TITLE
 *********************/

.m-locallayers-container>div.title {
    line-height: 40px;
    text-align: center;
    height: 39px;
    border-bottom: 1px solid rgba(0, 0, 0, .13);
    font-size: 15px;
    background-color: #00897B !important;
    color: white;
    font-weight: 600;
}


/*********************
      LOCALLAYERS FORM
 *********************/

.m-locallayers-container>div.form>div {
    margin-bottom: 10px;
}

.m-locallayers-container input {
    max-width: 100%;
}


/* NAME AND FILE */

.m-locallayers-container>div.form>div {
    width: 90%;
    margin: 10px auto;
}

.m-locallayers-container>div.form>div.name>input {
    width: calc(100% - 10px);
    min-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0px;
    padding: 5px;
    height: 20px;
}

.m-locallayers-container>div.form>div.name>input:disabled {
    background-color: rgb(235, 235, 228);
}


/* CENTER LAYER */

.m-locallayers-container>div.form>div.centerview,
.m-locallayers-container>div.form>div.extractstyle {
    float: right;
    border-radius: 0px;
    text-align: right;
    margin-right: 5%;
}


/*********************
      BUTTONS
 *********************/

.m-locallayers-container>div.button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: table;
    background-color: #FFB74D;
}

.m-locallayers-container>div.button>button {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    opacity: 0.75;
    -webkit-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
    color: #404040;
}

.m-locallayers-container>div.button>button:hover:enabled {
    opacity: 1;
}

.m-locallayers-container>div.button>button:focus:enabled {
    outline: none;
}

.m-locallayers-container>div.button>button:before {
    font-size: 21px;
    margin-right: 10px;
}

.m-locallayers-container>div.button>button.load {
    width: 60%;
    margin: 10px 5% 10px 5%;
    padding: 5px;
    background-color: #fff;
    font-family: 'Muli', 'sans-serif' !important;
    cursor: pointer;
}

.m-locallayers-container>div.button>button.load:disabled {
    cursor: not-allowed
}

@-moz-document url-prefix() {
    .m-locallayers-container>div.button>button.print {
        margin: 10px 4% 10px 5%;
    }
}

.m-locallayers-container>div.button>button i {
    font-size: 20px;
    vertical-align: text-bottom;
}

.m-control>button {
    color: #404040;
}


/***************
        PANEL
 ***************/

.m-areas>div.m-area>div.m-panel.m-locallayers {
    order: 1;
    border-top-right-radius: 0px;
}

.m-areas>div.m-area>div.m-panel.m-locallayers.opened {
    border-top-left-radius: 0px;
}

.m-areas>div.m-area>div.m-panel.m-locallayers.collapsed {
    order: 1;
    border-top-right-radius: 20px;
}

.m-areas>div.m-area>div.m-panel.m-locallayers>button.m-panel-btn {
    background-color: #00897B;
    position: absolute;
    left: initial;
    color: #fff;
    z-index: 999999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.m-areas>div.m-area>div.m-panel.m-locallayers.opened>button.m-panel-btn {
    left: -40px;
}

@media only screen and (max-width: 768px) {
    .m-areas>div.m-area>div.m-panel.m-locallayers.opened>button.m-panel-btn {
        background-color: transparent;
        position: absolute;
        right: 0;
        left: initial;
        color: #fff;
        z-index: 999999;
        box-shadow: none;
    }
}

.m-areas>div.m-area>div.m-panel.m-locallayers.collapsed>button.m-panel-btn {
    color: #00897B;
    position: inherit;
    right: 0;
    box-shadow: none;
}


/* ANIMATIONS */

.m-areas>div.m-area>div.m-panel.m-locallayers {
    -webkit-transition: max-height .33s ease-in-out 0s;
    transition: max-height .33s ease-in-out 0s;
    max-height: 100vh;
}

.m-areas>div.m-area>div.m-panel.m-locallayers.collapsed {
    -webkit-transition: max-height .33s ease-in-out 0s;
    transition: max-height .33s ease-in-out 0s;
    max-height: 40px;
}

.m-areas>div.m-area>div.m-panel.m-locallayers>div.m-panel-controls {
    -webkit-transition: max-width .5s ease 0s, opacity .44s ease 0s;
    transition: max-width .5s ease 0s, opacity .44s ease 0s;
    background: white;
    width: 100%;
}

.m-locallayers-container>.results-panel>div.results {
    -webkit-transition: max-height .33s ease-in-out 0s;
    transition: max-height .33s ease-in-out 0s;
}

.m-areas>div.m-area>div.m-panel.m-locallayers.opened {
    width: 440px;
}

@media only screen and (max-width: 768px) {
    .m-areas>div.m-area>div.m-panel.m-locallayers.opened {
        margin-left: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 10000;
        overflow: auto;
    }
}